body {
  font-family: Arial, Helvetica, sans-serif;

}

.container {
  border: 1px solid rgb(176, 176, 176);
  border-radius: 3px;
  padding: 20px;
  width: 300px;
}

p {
  margin-top: 0;
  margin-bottom: 0;
  margin-bottom: 15px;
  font-weight: 500;
}
