.flex {
  display: flex;
}

.col-1 {
  background-color: lightpink;
  width: 100px;
}

.col-1 p {
  display: flex;
  justify-content: space-around;
}

.col-2 {
  background-color: lightblue;
  width: 200px;
}