.sidebar {
  background-color: white;
  position: fixed;
  left: 0;
  bottom: 0;
  top: 55px;
  width: 72px;
  padding-top: 5px;
}

.home-icon,
.explore-icon,
.subscriptions-icon,
.originals-icon,
.youtube-music-icon,
.library-icon {
  width: 24px;
  margin-bottom: 6px;
}


.icon-container {
  height: 74px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.icon-container span {
  font-size: 10px;
}

.icon-container:hover {
  background-color: rgba(227, 227, 227, 0.5);
}

@media (min-width: 1200px) {
  .sidebar {
    width: 200px;
  }
  .icon-container {
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .icon-container img {
    margin-top: 3px;
    margin-right: 20px;
  }
  .icon-container span {
    width: 110px;
    font-size: 13px;
  }
  body {
    padding-left: 220px;
  }
}