.header {
  position: fixed;
  height: 55px;
  top:0;
  left: 0;
  right: 0;
  background-color: white;
  display: flex;
  justify-content: space-between;
}

.user-detail {
  display: flex;
  align-items: center;
}


.user-picture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-left: 100px;
}

.name {
  margin-left: 10px;
  font-weight: bold;
}

.action-buttons {
  margin-right: 100px;
  display: flex;
  align-items: center;
}

.add-friend-button {
  background-color: rgb(65, 141, 255);
  color: white;
  padding: 8px 15px;
  border:none;
  border-radius: 3px;
  margin-right: 5px;
}

.message-button {
  background-color: rgb(225, 225, 225);
  padding: 8px 15px;
  border:none;
  border-radius: 3px;
}